@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#005A8F,#99E465);
}

#warning-message { display: none; }
@media only screen and (orientation:portrait){
    #wrapper { display:none; }
    #warning-message { 
        display:block;
        font-size:  3em;
        color: #fff;
        text-align: justify;
        padding: 1em;
    }
    #smarthphone {
        padding: 5rem;
        color: #fff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (orientation:landscape){
    #warning-message { display:none; }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 200px;
    display:  flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius:  20px;
}

header ul li a:hover, 
header ul li a.active{
    background: #fff;
    color: #005A8F;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #940036, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


section img#planetslight{
    mix-blend-mode: screen;
}

section img#rock1{
    z-index: 10;
}

.ships {
    background: #940036;
}

/* animaciones */

section img#asteroids {
    animation-name: asteroidsrotation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes asteroidsrotation {
    0% {left: 0; top: 0;}
    50% {left: 100px; top: 100px;}
    100% {left: 0; top: 0;}
}

#text {
    position: absolute;
    right: 100px;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #005A8F;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #940036;
}

.sec h2 {
    font-size:  3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec h3 {
    font-size:  3em;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.sec p {
    font-size:  1em;
    color: #fff;
    margin-bottom: 10px;
    text-align: justify;
}

.sec a {
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
}

/* pageloader */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #005A8F;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #99E465;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #99E465;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }